body {
    margin: 0;
}

.marquesina {
    background: #edb8ca;
}

.marquesina-interior {
    padding: 0.5rem;
    overflow: hidden;
    width: auto;
    min-width: 100%;
    white-space: nowrap;
    position: relative;
    font-size: 12px;
}

.marquesina-contenido span {
    padding: 0 20px;
}

.marquesina-contenido {
    animation: marquee 70s linear infinite;
    display: inline-block;
    width: auto;
    min-width: 100%;
}

.marquesina-contenido.clon {
    animation: marqueeClone 70s linear infinite;
    animation-delay: -35s;
}

nav {
    display: inline-flex;
    width: 100%;
}

nav a img {
    height: 6rem;
}

.logo {
    width: 10%;
}

.navegador {
    width: 80%;
}

.navegador ul {
    display: inline-flex;
    width: 100%;
}

.navegador ul li {
    padding: 0 20px 0 0;
    list-style: none;
    margin-top: 2.5rem;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navegador ul li a {
    color: black;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: uppercase;
}

.navegador ul li:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

.navegador ul li:after {
    display: block;
    content: '';
    border-bottom: 2px solid #000;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

.iconos {
    width: 10%;
}

.iconos ul {
    display: inline-flex;
    width: 100%;
}

.iconos ul li {
    padding: 0 20px 0 0;
    list-style: none;
    margin-top: 1.9rem;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.iconos ul li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.seccionIndex {
    margin-top: 5px;
}

.seccionIndex * {
    margin-bottom: 5px;
}

#carouselProductos {
    height: 35rem;
}

#carouselProductos div {
    border-radius: 5px;
}

#carouselProductos img {
    width: 100%;
    height: 35rem;
    object-fit: fill;
}

.indexNovedades {
    display: flex;
}

.indexNovedades img {
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.colNovedades:hover {
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.colNovedades img {
    position: relative;
    z-index: -1;
}

.location {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.location button {
    margin-top: 3%;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.newsletter {
    text-align: center;
    margin-bottom: 10px;
    background: #000;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.newsletter button {
    margin-top: 3%;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer .footerLista {
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
}

.footerLista div{
    display: flex;
    flex-direction: column;
}

.footerLista ul{
    list-style: none;
}

.footerLista div ul li{
    font-size: 80%;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footerLista div ul li i.wsp{
    color:green;
    padding-right: 10px;
}

.footerLista div ul li i.tele{
    color:blue;
    padding-right: 10px;
}

.footerLista div:first-child ul li:nth-child(even):not(:first-child){
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10%;
}

.footerLista div:first-child ul li:nth-child(odd):not(:first-child){
    color:gray;
}

.footerLista div:not(:first-child) ul li:not(:first-child){
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 9%;
    color:gray;
}

.footerLista div:last-child ul li:not(:first-child){
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 3%;
    color:gray;
}


@keyframes marquee {
    0% {
        transform: translatex(100%)
    }

    100% {
        transform: translatex(-100%)
    }
}

@keyframes marqueeClone {
    0% {
        transform: translatex(0%)
    }

    100% {
        transform: translatex(-200%)
    }
}